@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 12 10% 98%;
    --card: 0 0% 100%;
    --text: 235 18% 18%;
    --muted: 235 10% 45%;
    --border: 235 14% 88%;
    --primary: 260 84% 56%;
    --primary-2: 205 92% 55%;
  }
  .dark {
    --bg: 235 20% 10%;
    --card: 235 20% 13%;
    --text: 210 20% 96%;
    --muted: 215 12% 70%;
    --border: 235 16% 22%;
    --primary: 260 90% 68%;
    --primary-2: 190 92% 55%;
  }

  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-[hsl(var(--bg))] text-[hsl(var(--text))] antialiased;
    font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji";
  }
}

